body{
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 0px;
}
.header {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}
.header a{
    display: inline-block;
}
.logo{
    padding-top: 18px;
    width: 268px;
    height: 33px;
    width: 100%;
}
.main-nav {
    position: relative;
    float: right;
}
.dlogo{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
}
.main-menu a {
    color: #ababab;
    display: block;
    text-decoration: none;
    padding: 0 0.6em;
}
.main-menu .is-current {
    color: #00b39b;
}
.main-menu li {
    display: inline-block;
}
.dropdown{
    background-color:hsla(0,0%,100%,.98);
}
.dropdown-content{
    color: #747474;
    background-color:hsla(0,0%,100%,.98);
    font-size: .9375rem;
    border-color: transparent;
}
.leadlogo{
    justify-content: center;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}
.lead-sec{
    padding-top: 50px;
} 
.lead-sec h1{
    text-align: center;
}
.tit {
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.flex-container{
    display: flex;
    padding: 30px;
    margin: auto;
    justify-content: space-around;

}
.flex-container p{
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fade-elements{
    display: flex;
    justify-content: center;
}
.visible1{
    background: #00ccb1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    padding: 20px;
    color: #fff;
    height: ;
}
h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
.visible2{
    background: #3d83df;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    padding: 20px;
    color: #fff;
    height: ;
    margin-left: 30px;
}
.visible3{
    background: #1b2734;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
    padding: 20px;
    color: #fff;
    height: fit-content;
    margin-left: 30px;
}
.style-select select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    -webkit-appearance: none;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    height: 40px;
    color: inherit;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    display: inline-block;
}
.brands-sec{
    display: flex;
    margin: 2.5rem auto 3.125rem;
    margin-left: 30px;
}
.brandslogo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 67%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 67%;
    filter: grayscale(100%);
    margin-left: -100px;
}
.gripo{
    height: 35px;
}
.bellah{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
}
.stats {
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    display: flex;
    justify-content: flex-end;

}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.stats__item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
}
.grid {
    margin: 0 -10px;
}
.stats__header {
    margin-top: 2em;
}
.col-2 {
    width: 50%;
    margin: 30px;
    height: fit-content;
    width: fit-content;
}
.offices__header {
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}
.offf{
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    display: block;
}
.offices__slider{
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
}
.office__inner {
    box-shadow: 0 5px 10px 0 transparent;
    transition: box-shadow .2s ease 0s;
}
.office .btn {
    float: right;
}
.btn--small {
    font-size: .625rem;
    padding: 1em 1.5em;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}
.office__desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
    box-sizing: inherit;
    color: #747474;
    cursor: pointer;
}
.join-us {
    margin: 5rem auto;
}
.join-us__header {
    max-width: 520px;
    margin: 0 auto;
    font-size: .875em;
    text-align: center;
}
.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.main-footer .section__inner, .main-footer p {
    font-size: 12px;
    color: #ababab;
}
